.Rproj.user
.Rhistory
.RData
.Ruserdata
FuelWatchRetail-01-2023.csv
FuelWatchRetail-02-2023.csv
FuelWatchRetail-03-2023.csv
FuelWatchRetail-04-2023.csv
FuelWatchRetail-05-2023.csv
FuelWatchRetail-06-2023.csv
FuelWatchRetail-07-2023.csv
FuelWatchRetail-08-2023.csv
FuelWatchRetail-09-2023.csv
FuelWatchRetail-10-2023.csv
FuelWatchRetail-11-2022.csv
FuelWatchRetail-12-2022.csv
FuelWatch.csv
